### Params: (columns,schema_name, table_name, delta, delta_column, delta_timestamp, where_conditions)

select 
    {%- for c in columns -%}
        {{ c }} {%- if not loop.last -%}, {%- endif -%}
    {%- endfor -%}
from {{ schema_name }}.{{ table_name }}
where 1 = 1 
    {%- if delta == True -%}
        ## Define delta condition 
        and {{ delta_column }} >= {{ delta_timestamp }}
    {%- endif -%} 
    {%- if length(where_conditions) -%}
        ## Define ad-hoc condition
        {%- for cond in where_conditions -%}
        and {{ cond }} {{'\n'}}{{'\t'}}
        {%- endfor -%}
    {%- endif -%}
