select 
    column_name as col_name,
    data_type as data_type,
    data_precision as precision,
    data_scale as scale
from all_tab_columns
where owner = '{{ table_schema }}'
    and table_name = '{{ table_name }}'